@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400&family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital@1&display=swap');




  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Slab:wght@100;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    background-color: #F9F5E3;
}

.header{
    background-color: #FD79A8;
    height: 100px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;

}

.logo{
   
        width: 80px;
        height: 80px;
        margin: 0;
        padding: 5%;
   
}

.account{
    width:45px;
    height: 45px;
    fill: #F9F5E3;
}

.account:hover {
    fill: #FF0000; /* Cambia a rojo cuando el mouse está sobre él */
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    background-color: #FAB1A0;
    position: relative;
    top:50px;
    left:700px;
    border-radius: 10px;
}

.input{
    margin: 3px 37px;
    padding: 3px;
    outline: none;
} 
select{
    width: 192px;
    margin: 10px 37px;
    outline: none;
    height: 20px;
}

.boton{
    background-color: #FD79A8;
    height: 40px;
    text-align: center;
    width: 70%;
    margin: auto 40px;
    border: none;
    border-radius: 10px;
}

.boton:hover{
    background-color: #F9F5E3;
    color: #342d2d;
}

.centrado{
    text-align: center;
}


    footer {
        display: flex;
        /* margin-top: 90px; */
        position: relative;
        bottom: 0px;
        background-color: #444;
        color: #fff;
        padding: 15px;
        text-align: center;
        font-weight: lighter;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    
}

footer img{
   width: 1.875em;
}
    .caja {
        margin: 2%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .caja img{
        width: 100px;
    }

    .nombre{
        color: white;
        font-size:3.125em;
        font-family: 'Lilita One', cursive;

    }

    .integrantes{
        list-style-type:none;
    }

