@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400&family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Slab:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lilita One', cursive;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 212, 228, 1) 21%, rgba(250, 205, 222, 1) 37%, rgba(252, 174, 203, 1) 55%, rgba(250, 140, 180, 1) 80%, rgba(253, 121, 168, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(4%, rgba(255, 255, 255, 1)), color-stop(21%, rgba(255, 212, 228, 1)), color-stop(37%, rgba(250, 205, 222, 1)), color-stop(55%, rgba(252, 174, 203, 1)), color-stop(80%, rgba(250, 140, 180, 1)), color-stop(100%, rgba(253, 121, 168, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 212, 228, 1) 21%, rgba(250, 205, 222, 1) 37%, rgba(252, 174, 203, 1) 55%, rgba(250, 140, 180, 1) 80%, rgba(253, 121, 168, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 212, 228, 1) 21%, rgba(250, 205, 222, 1) 37%, rgba(252, 174, 203, 1) 55%, rgba(250, 140, 180, 1) 80%, rgba(253, 121, 168, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 212, 228, 1) 21%, rgba(250, 205, 222, 1) 37%, rgba(252, 174, 203, 1) 55%, rgba(250, 140, 180, 1) 80%, rgba(253, 121, 168, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 212, 228, 1) 21%, rgba(250, 205, 222, 1) 37%, rgba(252, 174, 203, 1) 55%, rgba(250, 140, 180, 1) 80%, rgba(253, 121, 168, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fd79a8', GradientType=0);

}

.header {
    background-color: #FD79A8;
    height: 100px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;

}

.logo {

    width: 5em;
    height: 5em;
    margin: 0;
    padding: 5%;



}

.account {
    width: 45px;
    height: 45px;
    fill: #F9F5E3;
}

.account:hover {
    fill: #FF0000;
    /* Cambia a rojo cuando el mouse está sobre él */
}


.contenedorPapa {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 2%;
}

.inline {
    display: inline;
}

.formulario {
    display: flex;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5%;
    width: 21.875em;
    margin: 5%;
    height: max-content;
    background-color: #FAB1A0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    -webkit-box-shadow: -2px -3px 30px -29px rgba(74, 19, 51, 0.71);
    -moz-box-shadow: -2px -3px 30px -29px rgba(74, 19, 51, 0.71);
    box-shadow: -2px -3px 30px -29px rgba(74, 19, 51, 0.71);

}

.formulario h3 {
    font-weight: 200;

    margin: 2%;
    color: white;
    font-family: 'Lilita One', cursive;
}

.input {
    border: none;
    border-radius: 20px;
    margin: 2%;
    box-sizing: border-box;
    padding: 3%;
    outline: none;
}

select {
    color: black;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 3%;
    outline: none;
}

.boton {
    background-color: #FD79A8;
    width: 70%;
    text-align: center;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: 'Lilita One', cursive;
    font-size: 1.25em;
    box-sizing: border-box;
    padding: 3%;
    margin-top: 3%;
    transition: background-color 0.3s, color 0.3s;
}

.boton-sec {
    background-color: #FD79A8;
    text-align: center;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-weight: 300;
    box-sizing: border-box;
    padding: 1%;
    margin-top: 3%;
    transition: background-color 0.3s, color 0.3s;
}

.botonera {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 0px;
}

.botonera .boton-sec {
    margin: 0 1px;
    text-decoration: none;
}

.boton-sec:hover {
    background-color: #F9F5E3;
    color: #ea3d3d;
    cursor: pointer;
}

.boton a {
    text-decoration: none;
    color: white;
}


.boton:hover {
    background-color: #F9F5E3;
    color: #0e0b0b;
}

.botonArchivo {
    display: flex;
    background-color: #3498db;
    color: #fff;
    padding: 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin: 5%;
    flex-direction: column;
    align-items: center;
}


.botonArchivo input[type="file"] {
    display: none;
    margin: 2%;

}

.centrado {
    text-align: center;
}

.mt {
    margin-top: 7%;
}

.boton_respuesta {

    background: linear-gradient(164deg, rgba(99, 186, 228, 0.7120973389355743) 13%, rgba(131, 188, 215, 0.6644782913165266) 57%, rgba(175, 220, 242, 0.6336659663865547) 97%);
    width: 35%;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-size: 1.500em;
    /* box-sizing: border-box; */
    padding: 1%;
    margin-top: 1%;
    transition: background-color 0.3s, padding 0.3s;

}

.boton_respuesta:hover {
    background-color: #3498db;
    color: white;
    padding: 3%;
}

footer {
    display: flex;
    margin-top: 26px;
    position: relative;
    bottom: 0px;
    background-color: #323a4ae3;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-weight: lighter;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    animation: footer-color 5s infinite;
    animation-direction: alternate;

}

footer img {
    width: 1.875em;
}

.caja {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.caja img {
    width: 20%;
    height: 20%;
    border-radius: 10px;
    margin: 2%;
}

.nombre {
    color: white;
    font-size: 3.125em;
    font-family: 'Lilita One', cursive;
    letter-spacing: 0.125em;

}

.caja-dos {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(99, 186, 228);
    background: linear-gradient(164deg, rgba(99, 186, 228, 0.7120973389355743) 13%, rgba(131, 188, 215, 0.6644782913165266) 57%, rgba(175, 220, 242, 0.6336659663865547) 97%);
    box-sizing: border-box;
    padding: 2%;
    border-radius: 40px 25px 40px 15px;
    margin: 5%;
}


.ranking {
    color: #FD79A8;
    width: 70%;
   
    background-color: black;
    margin-top: 5%;
    text-align: center;
    border: none;
    text-transform: uppercase;
    border-radius: 40px 25px 40px 15px;
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-weight: 300;
    box-sizing: border-box;
    padding: 2%;
    transition: background-color 0.3s, color 0.3s;

}

.ranking a {
    color: #FD79A8;
    font-size: 1.563em;
}

.ranking a:hover {
    color: #000000;

}

.ranking:hover {
    background-color: #faf0c3;
    color: #0e0b0b;

}


.integrantes {
    list-style-type: none;
}

.caja_ranking {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 212, 228, 1);
    background: rgb(99, 186, 228);
    background: linear-gradient(164deg, rgba(99, 186, 228, 0.7120973389355743) 13%, rgba(131, 188, 215, 0.6644782913165266) 57%, rgba(175, 220, 242, 0.6336659663865547) 97%);
    box-sizing: border-box;
    padding: 3%;
    border-radius: 40px 25px 40px 15px;
    margin: 5%;
}

.caja_ranking h1 {
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    margin-bottom: 5%;
}

.caja-pt-previas {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(99, 108, 228);
    background: linear-gradient(164deg, rgba(99, 108, 228, 0.7120973389355743) 13%, rgba(167, 131, 215, 0.6644782913165266) 57%, rgba(224, 175, 242, 0.6336659663865547) 97%);
    box-sizing: border-box;
    padding: 3%;
    border-radius: 40px 25px 40px 15px;
    margin: 5%;
}

.caja-pt-previas h1 {
    text-shadow: 2px 2px 3px pink;
}

.caja_ranking,
.caja-pt-previas h1 {
    margin-top: 1%;
    margin-bottom: 2%;
    text-transform: uppercase;
    letter-spacing: 0.438em;

}

.arcade {
    font-family: 'Pixelify Sans', sans-serif;
    color: rgb(34, 23, 236);
    text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

.perfil {

    padding: 20px;
}

.contenedorPadre {
    display: flex;
    flex-direction: column;
}

.user_name {
    color: #F9F5E3;
    text-align: center;
}

.caja_opciones {
    background-color: #3498db;
}
.Geografía{
    background-color: #3498db;
}
.Historia{
    background-color: #dcf61b;
}
.Ciencia{
    background-color: #1db454;
}
.Cultura{
    background-color: #f967c6;
}
.Deporte{
    background-color: #efa721;
}
.cardPartida{
    width:60%;
    margin: auto;
    border-radius: 10px;
}
.registro{
    width: 70%;
}
@keyframes footer-color {
    0% {
        background-color: #323a;
        opacity: 1;
    }

    25% {
        background-color: rgba(65, 44, 65, 0.667);
        opacity: 1;
    }

    50% {
        background-color:rgba(83, 52, 83, 0.667);
        opacity: 1;
    }

    100% {
        background-color: rgba(102, 60, 102, 0.667);
        opacity: 1;
    }
}