@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400&family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Slab:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lilita One', cursive;
    height: 100%;
    background-color: #facdde;
    

}

.header {
    
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: rgba(71, 112, 192, 0.7989320728291316);
}


.logo {
    width: 6em;
    height: 6em;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 212, 228, 1) 21%, rgba(250, 205, 222, 1) 37%, rgba(252, 174, 203, 1) 55%, rgba(250, 140, 180, 1) 80%, rgba(253, 121, 168, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(4%, rgba(255, 255, 255, 1)), color-stop(21%, rgba(255, 212, 228, 1)), color-stop(37%, rgba(250, 205, 222, 1)), color-stop(55%, rgba(252, 174, 203, 1)), color-stop(80%, rgba(250, 140, 180, 1)), color-stop(100%, rgba(253, 121, 168, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 212, 228, 1) 21%, rgba(250, 205, 222, 1) 37%, rgba(252, 174, 203, 1) 55%, rgba(250, 140, 180, 1) 80%, rgba(253, 121, 168, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 212, 228, 1) 21%, rgba(250, 205, 222, 1) 37%, rgba(252, 174, 203, 1) 55%, rgba(250, 140, 180, 1) 80%, rgba(253, 121, 168, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 212, 228, 1) 21%, rgba(250, 205, 222, 1) 37%, rgba(252, 174, 203, 1) 55%, rgba(250, 140, 180, 1) 80%, rgba(253, 121, 168, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 212, 228, 1) 21%, rgba(250, 205, 222, 1) 37%, rgba(252, 174, 203, 1) 55%, rgba(250, 140, 180, 1) 80%, rgba(253, 121, 168, 1) 100%);
    border-radius: 80px;
    margin: 5%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fd79a8', GradientType=0);


}




.account {
    width: 45px;
    height: 45px;
    fill: #F9F5E3;
}

.account:hover {
    fill: #FF0000;
    /* Cambia a rojo cuando el mouse está sobre él */
}


.contenedorPapa {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 2%;
}
.index{
    background-image: url(../public/fondo-arg-index.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.partida{
    background-image: url(../public/fondo-arg-partida.png);
    background-repeat: no-repeat;
    padding: 5%;
    background-size: cover;
    background-position: center center;
}
.inline {
    display: inline;
}

.formulario {
    display: flex;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5%;
    width: 21.875em;
    margin: 5%;
    height: max-content;
    background-color: #4770c491;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 11px 9px 29px -8px rgba(50,58,74,0.74);
}

.mensaje-error-registro{
    color: red;
}

.mensajeConf{
    color: green;
}

.formulario h3 {
    font-weight: 200;

    margin: 2%;
    color: white;
    font-family: 'Lilita One', cursive;
}

.input {
    border: none;
    border-radius: 20px;
    margin: 2%;
    box-sizing: border-box;
    padding: 3%;
    outline: none;
}

select {
    color: black;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 3%;
    outline: none;
}

.boton {
    background-color: #FD79A8; 
    
    text-align: center;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: 'Lilita One', cursive;
    font-size: 1.25em;
    box-sizing: border-box;
    padding: 3%;
    margin-top: 2%;
    transition: background-color 0.3s, color 0.3s;
}
.columnas{
    display: flex;
    flex-direction: row;
}

.sugerencia{
    margin: 5px auto;
    width: 250px;
    outline: none;
    height: 35px;
    border-radius: 25px;
    border: none;
}

.tabla{
    border: 1px solid white;
    width: 500px;
    height: 200px;
}
.opcion{
    width: 250px;
    margin: 5px auto;
}
.botonEditor {
    background-color: #FD79A8; 
    text-align: center;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: 'Lilita One', cursive;
    font-size: 0.75em;
    box-sizing: border-box;
    padding: 3%;
    margin-top: 2%;
    transition: background-color 0.3s, color 0.3s;
}
.boton-nueva-partida{
    background-color: #FD79A8;
}

.boton-ver-ranking{
    background-color: rgba(71, 112, 192, 0.7989320728291316);
}

.boton-sec {
    background-color: #FD79A8;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-weight: 300;
    box-sizing: border-box;
    padding: 1%;
    margin-top: 3%;
    transition: background-color 0.3s, color 0.3s;
}

.botonera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 10px;
}
.trampita{
    padding: 15px;
    background-color: rgb(203, 193, 193);
    width: 150px;
    margin: 5px 10px;
    border: none;
}
.botonera .boton-sec {
    margin: 0 1px;
    text-decoration: none;
    width: 20%;
}

.boton-sec:hover {
    background-color: #F9F5E3;
    color: #ea3d3d;
    cursor: pointer;
}

.boton a {
    text-decoration: none;
    color: white;
}

#texto{
    font-size: -0.75em;
}
.boton:hover {
    background-color: #F9F5E3;
    color: #0e0b0b;
}

.botonArchivo {
    display: flex;
    background-color: #3498db;
    color: #fff;
    padding: 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin: 5%;
    flex-direction: column;
    align-items: center;
}


.botonArchivo input[type="file"] {
    display: none;

}

.centrado {
    text-align: center;
}
.centro{
    margin: 5px auto;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mt {
    margin-top: 7%;
}

.boton_respuesta {

    background: linear-gradient(164deg, rgba(99, 185, 228, 0.92) 13%, rgba(131, 188, 215, 0.92) 57%, rgba(175, 220, 242, 0.893) 97%);
    width: 35%;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-size: 1.500em;
    /* box-sizing: border-box; */
    padding: 1%;
    margin-top: 1%;
    transition: background-color 0.3s, padding 0.3s;

}

.boton_respuesta:hover {
    background-color: #1189d9;
    color: white;
    padding: 3%;
}

footer {
    display: flex;
    margin-top: 26px;
    position: relative;
    bottom: 0px;
    background-color: #323a4ae3;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-weight: lighter;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    animation: footer-color 5s infinite;
    animation-direction: alternate;

}

footer img {
    width: 4em;
    height: 4em;
}

.caja {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.caja img {
    width: 20%;
    height: 20%;
    border-radius: 10px;
    margin: 2%;
}

.nombre {
    color: #fff;
    text-shadow: 3px 3px 4px #8a3855;
    text-transform: uppercase;
    font-size: 1.875em;
    font-family: 'Lilita One', cursive;
    letter-spacing: 0.125em;

}

.caja-dos {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(99, 186, 228);
    background: linear-gradient(164deg, rgba(99, 186, 228, 0.7120973389355743) 13%, rgba(131, 188, 215, 0.6644782913165266) 57%, rgba(175, 220, 242, 0.6336659663865547) 97%);
    box-sizing: border-box;
    padding: 2%;
    border-radius: 40px 25px 40px 15px;
    margin: 5%;
    gap:25px;
}

.m {
    margin: 5%;
}


.ranking a {
    color: #fbb5cd;
    font-size: 1.563em;
}

.ranking a:hover {
    color: #000000;

}

.ranking:hover {
    background-color: #faf0c3;
    color: #0e0b0b;

}


.integrantes {
    list-style-type: none;
}

.caja_ranking {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 212, 228, 1);
    background: rgb(99, 186, 228);
    background: linear-gradient(164deg, rgba(99, 186, 228, 0.7120973389355743) 13%, rgba(131, 188, 215, 0.6644782913165266) 57%, rgba(175, 220, 242, 0.6336659663865547) 97%);
    box-sizing: border-box;
    padding: 3%;
    border-radius: 40px 25px 40px 15px;
    margin: 5%;
}

.caja_ranking h1 {
    text-shadow: 2px 2px 3px rgb(0, 0, 0);

    margin-bottom: 5%;
}

.caja-pt-previas {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(99, 108, 228);
    background: linear-gradient(164deg, rgba(99, 108, 228, 0.7120973389355743) 13%, rgba(167, 131, 215, 0.6644782913165266) 57%, rgba(224, 175, 242, 0.6336659663865547) 97%);
    box-sizing: border-box;
    padding: 3%;
    border-radius: 40px 25px 40px 15px;
    margin: 5%;
}

.caja-pt-previas h1 {
    text-shadow: 2px 2px 3px pink;
}

.caja_ranking,
.caja-pt-previas h1 {
    margin-top: 1%;
    margin-bottom: 2%;
    text-transform: uppercase;
    letter-spacing: 0.438em;

}

.arcade {
    font-family: 'Pixelify Sans', sans-serif;
    color: #292c32;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    animation: arcade-color 5s infinite;
    animation-direction: alternate;
}

a {
    text-decoration: none;
}

.perfil {
    width: 90%;
    margin: 2%;
    background-color: rgb(71 112 192 / 52%);
    padding: 5%;
    box-shadow: 11px 9px 29px -8px rgba(50,58,74,0.74);
    border-radius: 10px;
    
}

.contenedorPadre {
    display: flex;
    flex-direction: column;
}

.user_name {
    border: none;
    background: rgb(99, 186, 228);
    background: linear-gradient(164deg, rgba(99, 108, 228, 0.7120973389355743) 13%, rgba(167, 131, 215, 0.6644782913165266) 57%, rgba(224, 175, 242, 0.6336659663865547) 97%);
    color: #151511;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.caja_opciones {
    background-color: #3498db;
}

.bye {
    display: flex;
    align-content: flex-end;
    align-items: center;
    width: 20%;
    justify-content: center;
    flex-direction: column;
}

.Geografía{
    background-color: #6db5e5ad;
}
.Historia{
    background-color: #f5fb7cd3;
}
.Ciencia{
    background-color: #5ac481c1;
}
.Cultura{
    background-color: #f39cd4c4;
}
.Deporte{
    background-color: #b573e8aa;
}
.cardPartida{
    width:60%;
    margin: auto;
    border-radius: 10px;
}
.registro{
    width: 70%;
}
.contenedor_cerrar_sesion{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
}
.fila{
    display: flex;
    flex-direction: row;
}

.preguntas{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    margin: 20px auto;
    background-color: #81c6f5;
    border-radius: 25px;
    padding: 10px;
}
.pregunta{
    display: flex;
    flex-direction: row;
}
.pregunta p{
    display: inline;
}
#barraTiempo {
    height: 1em;
    border-radius: 20px;
    margin: 2%;
    background-color: #ffffffb5;
    width: 100%;
    transition: width 1s linear;
  }
  #hornerito{
   width: 100%;
  }
  #horneritoEnojado{
    width: 25%;
    margin: 1%;
   }
 
   #puntaje{
    font-size: 1.563em;
   color: #0080d5;
   }
   
   /* ANIMACIONES */

@keyframes footer-color {
    0% {
        background-color: #323a;
        opacity: 1;
    }

    25% {
        background-color: rgba(65, 44, 65, 0.667);
        opacity: 1;
    }

    50% {
        background-color: rgba(22, 66, 77, 0.667);
        opacity: 1;
    }

    100% {
        background-color: rgba(20, 39, 101, 0.667);
        opacity: 1;
    }
}


@keyframes arcade-color {
    0% {
        color: white;
   
    }
    5% {
        color: #afc9da;
     } 

10% {
       color: #79b0d4;
    }
    25% {
       color: #5ba1cf;
    }
    35% {
        color:#1396ec;
     }
     45% {
        color: rgb(36, 152, 229);
     }
    50% {
      color: #0080d5;
    }
    65% {
        color: #07619c;
     }
     75% {
        color: rgb(3, 73, 120);
     }
     85% {
        color: #06426b;
     }
     95% {
        color: #023251;
     }
    100% {
       color: #000000;
    }
}

@media (max-width: 768px) {
    .index {
        background-size: cover;
    }

    .partida {
        background-size: cover;
        padding: 0.625em; 
    }

 
    .caja {
        margin: 0.313em;
    }

    .botonArchivo {
        font-size: 0.875em;
    }

  
}


.scale-up-vertical-center{animation:scale-up-vertical-center 1.2s} @keyframes scale-up-vertical-center{0%{transform:scaleY(.2)}100%{transform:scaleY(1)}}

.shadow-drop-center{animation:shadow-drop-center 0.4s linear both} @keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 20px 0 rgba(255,255,255,.55)}}


.shake-left-right{animation:shake-left-right 0.8s linear both} @keyframes shake-left-right{0%,100%{transform:rotate(0deg);transform-origin:50% 50%}10%{transform:rotate(8deg)}20%,40%,60%{transform:rotate(-10deg)}30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}90%{transform:rotate(8deg)}}