
<div class="botonera">
    <button class="boton-sec ranking"><a href="/Partida/mostrarPantallaPartida">Jugar otra vez</a></button>
    <button class="boton-sec ranking"><a href="/Ranking/mostrarPantallaRanking">Ranking</a></button>
    <button class="boton-sec ranking"><a href="/Animalia/mostrarPantallaInicial">Cerrar Sesión</a></button>
</div>
<div class="tabla">
    <h2 class="nombre">Una trampita = un hornero</h2>
    <span>Canjea 1 Trampita por </span>
    <img src="../public/billete.jpg" width="200" alt="">

    <div class="pago">
        <span>Tarjeta de débito o crédito</span>
        <hr>
        <legend>Numero de la tarjeta</legend>
        <input class="pago" type="text" name="" id="" autocomplete="cc-number" placeholder="1234 1234 1234 1234" inputmode="numeric">
        <legend>Nombre completo como aparece en la tarjeta:</legend>
        <input class="pago" type="text">
        <legend>Expiración:</legend>
        <input class="pago1" type="text" autocomplete="cc-exp" inputmode="numeric" placeholder="MM / AA">
        <legend>CVC</legend>
        <input class="pago1" type="text" placeholder="CVC">
        <input class="boton-sec" type="submit" value="Continuar">
    </div>
    
</div>
<a class="boton-sec mt-10"href="/Lobby/mostrarPantallaLobby">VOLVER AL
    LOBBY</a>