<h1 class="centrado">Modificar preguntas</h1>
<div class="preguntas">
    
    <div class="pregunta">
        {{#pregunta}}
        <p>{{descripcion}}</p> <button class="boton-sec">Modificar</button>
        {{/pregunta}}
    </div>
</div>