
<div class="caja fila">
    
    <div class="tabla">
        <h1 class="centrado nombre">Últimas preguntas sugeridas</h1>
        <form action="/Perfil/actualizarSugerida" method="post">
            <input type="hidden" name="id" value="{{numeroPregunta}}">
            <input type="hidden" name="id" value="{{descripcion}}">
            
            <span>{{descripcionPregunta}}</span> 
            <input type="submit" class="delete" name="accion" value="Eliminar">
            <input type="submit" class="add" name="accion" value="Aprobar">
        </form>
        
        <ul>
            {{#descripcionRespuesta}}
               <li>{{.}}</li>
            {{/descripcionRespuesta}}
         </ul>
    </div>
    
    
    <div class="tabla">
        <h1 class="centrado nombre">Últimas preguntas reportadas</h1>
        {{#reportadas}}
        <form action="/Perfil/eliminarPreguntaReportada" method="post">
            <span>{{descripcion_reporte}}</span> 
            <input type="hidden" name="id" value="{{pregunta_id}}">
            <input type="submit" value="Eliminar" class="delete"><br>
            
        </form>
        {{/reportadas}}
    </div>
    
</div>