<h1 class="centrado nombre">Modificar preguntas</h1>
<div class="preguntas">
    
    <div class="pregunta">
        {{#pregunta}}
        <form action="/Perfil/modificarPregunta" method="post">
            <span>{{descripcion}}</span>
            <input type="hidden" value="{{id}}" name="id" >
            <input type="text" placeholder="Ingrese la pregunta modificada" name="pregunta" class ="input_mas_grande">
            <input class="boton-sec" type="submit" value="Modificar"><br>
        </form>
        {{/pregunta}}
    </div>
</div>