
<div class="caja fila">
    <div class="tabla">
        <h1>Últimas preguntas sugeridas</h1>
        <span></span> <button>Eliminar</button><button>Aprobar</button>
    </div>

    <div class="tabla">
        <h1>Últimas preguntas reportadas</h1>
    </div>
</div>