<h1 class="centrado">Modificar preguntas</h1>
<div class="preguntas">
    
    <div class="pregunta">
        {{#pregunta}}
        <span>{{descripcion}}</span><button class="boton-sec">Modificar</button><br>
        <p></p> 
        {{/pregunta}}
    </div>
</div>