<footer>
    <div>
        <img src="public/hornerito-panz-lirt.svg" alt="hornero" 
        class="logo">
        <p >ARGENTINAZO</p>
        <p>Programacion Web II</p>
    </div>
    <div>
        <ul class="integrantes">
            <li>Celena Moscovich</li>
            <li>Axel Leguero </li>
            <li>Micaela Zara</li>
            <li>Ludmila Pereyra</li>
        </ul>
    </div>
</footer>

</body>
<script src="public/barratiempo.js"></script>
</html>