<footer class="row">
    <div>
        <img src="../public/hornerito-panz-lirt.svg" alt="hornero" 
        class="logo">
        <p class="shake-left-right">ANIMALIA</p>
        <p>Programacion Web II</p>
    </div>
    <div>
        <ul class="integrantes">
            <li>Celena Moscovich</li>
            <li>Axel Leguero </li>
            <li>Micaela Zara</li>
            <li>Ludmila Pereyra</li>
        </ul>
    </div>
</footer>

</body>
</html>