<div class="caja gr-padre">
   
        <div class="gr">
            <a href="/Admin/graficoEdad">VER EDADES
                <img src="/public/graficoEdad.png" alt="">
            </a>
            <a href="/Admin/imprimirPDF1" target="_blank" class="boton">Imprimir</a>
        </div>

        <div class="gr">
            <a href="/Admin/graficoGenero">VER GÉNEROS
                <img src="/public/graficoGenero.png" alt="">
            </a>
            <a href="/Admin/imprimirPDF2" target="_blank" class="boton">Imprimir</a>
        </div>
   

    
        <div class=" gr">
            <a href="/Admin/graficoMundial">VER DISTRIBUCIÓN GLOBAL
                <img src="/public/graficoMundial.png" alt="">
            </a>
            <a href="/Admin/imprimirPDF3" target="_blank" class="boton">Imprimir</a>
        </div>
   

    <a class="boton" href="/Admin/ImprimirTodo" target="_blank" class="boton">Imprimir todos los gráficos juntos</a>
</div>