<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animalia -- Home</title>
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>
<body>
<div></div>
<header class="header">
<div class="flex">
    <img src="../public/hornero.svg" class="logo" width="145px">
    <h1>Animalia</h1>
    <img src="../public/user.svg" class="account">
</div>
    
</header>