<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animalia -- Home</title>
    <link rel="stylesheet" type="text/css" href="public/styles.css">
    <link rel="icon" href="public/hornero.svg" type="image/x-icon">
</head>
<body>

<header class="header">

    <a href="#"><img src="public/hornero.svg" class="logo"></a>
    <h1 class="nombre">Animalia</h1>
    <a href="#"><img src="public/user.svg" class="account"></a>
    

    
</header>