<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animalia -- Home</title>
</head>
<body>
    <p>Bienvenido al juego!!!!!!!!!!</p>

    <div class="formulario">
        <form method="post">
            <input type="text" placeholder="Nombre completo">
            <input type="date">
            <select>
                <option>Masculino</option>  
                <option>Femenino</option> 
                <option>Prefiero no decirlo</option> 
            </select>
            <input type="text" placeholder="Pais">
            <input type="text" placeholder="Ciudad">
            <input type="submit" value="Registrarse">
        </form>
    </div>

</body>
</html>

