

<div class="caja_pregunta">
    {{#pregunta}}
    <h1>{{descripcion}}</h1>
    {{/pregunta}}
</div>

<div class="caja_opciones center mt">
{{#respuesta}}

<form action="./index.php?controller=Partida&method=verificarRespuesta" method="post">
    
    <button type="submit" name="id" value="{{id}}">{{descripcion}}</button>
</form>

{{/respuesta}}
</div>