<div class=" partida">

{{#pregunta}}
<div class="cardPartida {{tipo}}">
    <div class="caja">
        
        
        <h1>{{tipo}}</h1>
        <h2>⏳ Tiempo: <span id="tiempoRestante">60</span></h2>
        <div id="barraTiempo"></div>
        <img src="{{imagen}}" width="200" height="150" alt="">
        <h1>{{descripcion}}</h1>
        {{/pregunta}}
    </div>
    
    <div >
    <form action="/Partida/verificarRespuesta" method="post" class="caja">
    {{#respuesta}}
    
    
        
        <button type="submit" name="id" value="{{id}}" class="boton_respuesta shadow-drop-center">{{descripcion}}</button>
    
    
    {{/respuesta}}
    </form>
    </div>
    
    <div class="botonera">
        <button>💣</button>
        <button>💫</button>
        <button>🃏</button>
    </div>
</div>
<script src="../public/barratiempo.js"></script>
</div>
