
<div class="caja ">

    <div class="caja-uno centrado">
        <h1 class="scale-up-vertical-center">¡Bienvenido, {{user}}!</h1>
        <img src="../public/hornerito-panzon-color.svg" alt="hornerito" id="hornerito">
        <p>PUNTAJE ALCANZADO : <span>{{puntaje}}</span> </p>
        <p>Nivel: <span> {{nivel}}</span> </p>
    </div>

    <div class="caja-dos centrado ">
        <a href="/Partida/mostrarPantallaPartida" class="boton boton-nueva-partida">Nueva partida</a>

        <a href="/Ranking/mostrarPantallaRanking" class="boton boton-ver-ranking">Ver ranking</a>

    </div>

    <div class="contenedor_cerrar_sesion">
    <div class="caja bye centrado">
        <p class="m mt">¿Te vas pibe?</p>
        <a href="/Lobby/cerrarSesion" class="boton m">cerrar sesión</a>
    </div>
</div>
</div>