
<div class="caja ">
    <!-- el usuario administrador, capaz de ver la cantidad de jugadores que tiene
    la aplicación, cantidad de partidas jugadas, cantidad de preguntas en el juego, cantidad de
    preguntas creadas, cantidad de usuarios nuevos, porcentaje de preguntas respondidas
    correctamente por usuario, cantidad de usuarios por pais, cantidad de usuarios por sexo, cantidad
    de usuarios por grupo de edad (menores, jubilados, medio). Todos estos gráficos deben poder
    filtrarse por día, semana, mes o año. Estos reportes tienen que poder imprimirse (al menos las
    tablas de datos) -->
    <div class="caja-uno centrado mt ">
       <h2>Nos honra recibirlo,</h2>
        <h1 class="scale-up-vertical-center"> Soberano de la Gestion, {{user}}</h1>
        <img src="../public/epic-hornero-admin.svg" alt="hornerito" id="hornerito" >
       
        

    </div>

    <div class="caja centrado ">
        
        <a href="/Admin/estadisticas" class="boton">ESTADISTICAS DE LA APP</a>
        
    </div>
    
    

    <div class="contenedor_cerrar_sesion">
    <div class="caja bye centrado">
        <p class="m mt">¿Se va Señor Admin?</p>
        <a href="/Admin/cerrarSesion" class="boton m">cerrar sesión</a>
    </div>
</div>

</div>