
<div class="caja ">

    <div class="caja-uno centrado mt ">
        <h1 class="scale-up-vertical-center">¡Bienvenido, {{user}}!</h1>
        <img src="../public/epic-hornero-admin-.png" alt="hornerito" id="hornerito">
       
        

    </div>

    <div class="caja-dos centrado ">
        <a href="/Partida/mostrarPantallaPartida" class="boton boton-nueva-partida">Nueva partida</a>

        <

    </div>

    <div class="contenedor_cerrar_sesion">
    <div class="caja bye centrado">
        <p class="m mt">¿Te vas pibe?</p>
        <a href="/Lobby/cerrarSesion" class="boton m">cerrar sesión</a>
    </div>
</div>
</div>