
<div class="caja ">

    <div class="caja-uno centrado mt ">
        <h2 class="scale-up-vertical-center">Nos honra recibirle</h2>
        <h1 class="scale-up-vertical-center">Guardián del Conocimiento, {{user}}!</h1>
        <img src="../public/epic-horenro-editor.svg" alt="hornerito" id="hornerito">

        

    </div>

    <div class="caja-dos centrado ">

        <a href="/Partida/mostrarPantallaPartida" class="botonEditor  boton-nueva-partida" >Nueva partida</a>
        <a href="/Ranking/mostrarPantallaRanking" class="botonEditor  boton-ver-ranking" >Ver ranking</a>
        <a href="" class="botonEditor " >Modificar  Preguntas Existentes</a>
        <a href="" class="botonEditor" >Revisar Preguntas Reportadas</a>
        <a href="" class="botonEditor" >Chequear Preguntas Sugeridas</a>

    </div>

    <div class="contenedor_cerrar_sesion">
    <div class="caja bye centrado">
        <p class="m mt">¿Ha terminado su labor?</p>
        <a href="/Lobby/cerrarSesion" class="boton m">cerrar sesión</a>
    </div>
</div>
</div>