<div class="centrado mt" id="perdedor">
    <h1 class="arcade">
        🤡  Game Over  🤡
    </h1>
    <p class="mt">LOOOSEERRRR</p>

    <p class="mt">PUNTAJE ALCANZADO = <span>{{puntaje}}</span></p>
    <button class="mt boton"><a href="./index.php?controller=Lobby&method=mostrarPantallaLobby">VOLVER AL
            LOBBBY</a></button>
</div>