<div class="centrado mt" id="perdedor">
<div class="caja ">
    <h1 class="arcade">
        🤡  Game Over  🤡
    </h1>
    <img src="../public/angry-hornero.png" alt="hornerito" id="horneritoEnojado" class="img">
    <p >EL HORNERITO DICE : " YOU SER UN LOOOSEERRRR,ESTUDIA MÁS" </p>
    <p  class="m" id="puntaje">PUNTAJE ALCANZADO = <span>{{puntaje}}</span></p>

    <button class="boton"><a href="/Lobby/mostrarPantallaLobby">VOLVER AL
            LOBBBY</a></button>
        </div>
</div>