
<div class="contenedorPapa">
    <div class="caja_ranking">
        <h1>Ranking</h1>
        <iframe src="https://giphy.com/embed/gxhU80is6fOKI" width="240" height="162" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        {{#partida}}
        <div class="row">
            <form action="./index.php?controller=Perfil&method=mostrarPantallaPerfil" method="post">
                <input type="hidden" name="user" value="{{user_name}}">
                <button class="user_name" type="submit" name="enviar">👑 {{user_name}}</button>
            </form>
            <span> {{MAX(puntaje)}}</span><br>
        </div>
        
        {{/partida}}
    
    </div>
    
    
    <div class="caja-pt-previas">
        <h1>Partidas previas</h1>
        {{#partidasPrevias}}
        <span>Usuario: {{user_name}}</span>
        <span> {{puntaje}}</span>
        <span>Fecha: {{fecha}}</span>
        
        {{/partidasPrevias}}
        <button class="mt boton"><a href="./index.php?controller=Lobby&method=mostrarPantallaLobby">VOLVER</a></button>
    </div>

</div>
