<div class="contenedorPapa">
    <div class="caja_ranking">
        <h1>Ranking</h1>
        <iframe src="https://giphy.com/embed/gxhU80is6fOKI" width="240" height="162" frameBorder="0" class="giphy-embed"
            allowFullScreen></iframe>
        {{#partida}}
        <div class="row">
            <!-- <form action="/Perfil/mostrarPantallaPerfilNuevo" method="post"> -->
            <form class="ajax-form" action="/Ranking/imprimirQR" method="post">
                <input type="hidden" name="user" value="{{user_name}}">
                <button class="user_name" type="submit" name="enviar">👑 {{user_name}}</button>
            </form>
            <span class="puntajeUsuario"> {{MAX(puntaje)}}</span><br>
            <!-- <div class="qr">
                 //Aca estaria el QR, AL HACER CLICK GENERA EL PDF DEL PERFIL Y LO MUESTRA EN OTRA PESTAÑA COMO UN ARCHIVO .PHP, guarda la url y los datos de usuario para renderizar 
                <a href="/Ranking/imprimirQR/{{user_name}}" target="_blank">QR</a>
            </div> -->
        </div>

        {{/partida}}

    </div>


    <div class="caja-pt-previas">
        <h1>Partidas previas</h1>
        {{#partidasPrevias}}
        <span>Usuario: {{user_name}}</span>
        <span> {{puntaje}}</span>
        <span>Fecha: {{fecha}}</span>

        {{/partidasPrevias}}
    </div>

    
</div>

<script>
    $(document).ready(function () {
        setInterval(function () {
            $(".ajax-form").each(function () {
                var form = $(this);
                $.ajax({
                    type: "POST",
                    url: "/Ranking/mostrarPantallaRanking",
                    data: form.serialize(),
                    dataType: "json",

                    success: function (response) {
                        $("#usuario_" + response.user_name + " .puntajeUsuario").text(response.max_puntaje);
                    },
                    error: function (error) {
                        console.log("Error en la solicitud Ajax: " + error);
                    }
                });
            });
        }, 5000);
    });
</script>