
<div class="contenedorPapa">
    <div class="caja_ranking">
        <h1>Ranking</h1>
       
        {{#partida}}
        <a class="user_name" href="./index.php?controller=Perfil&method=mostrarPantallaPerfil"> 👑 {{user_name}} </a><span> {{puntaje}}</span><br>
        
        {{/partida}}
    
    </div>
    
    <div class="caja-pt-previas">
        <h1>Partidas previas</h1>
        {{#pregunta}}
        <span>Usuario: {{user_name}}</span>
        <span>Puntaje: {{puntaje}}</span>
        <span>Fecha: {{date}}</span>
        
        {{/pregunta}}
    </div>

</div>
