<div class="contenedor">
    <div class="agregarPregunta">
        <h1>Sugerir pregunta</h1>
        <form action="" method="post">
            <input type="text" placeholder="Ingrese su pregunta">
            <select>
                <legend>Seleccione la categoria</legend>
                <option value="Cultura">Cultura</option>
                <option value="Deporte">Deporte</option>
                <option value="Historia">Historia</option>
                <option value="Geografia">Geografia</option>
                <option value="Ciencia">Ciencia</option>
            </select>
            <input type="text" placeholder="Ingrese una respuesta (Correcta)">
            <input type="text" placeholder="Ingrese una respuesta">
            <input type="text" placeholder="Ingrese una respuesta">
            <input type="text" placeholder="Ingrese una respuesta">
            <input class="boton-sec" type="submit" value="Confirmar">
        </form>
    </div>
    <div class="agregarCategoria">
        <h1>Sugerir categoria</h1>
        <form action="" method="post">
            <input type="text" placeholder="Ingrese una categoria">
            <input class="boton-sec" type="submit" value="Confirmar">
        </form>
    </div>
</div>
