<div class="caja">
<div class="caja-dos centrado">
    <div class="m centrado">
        <h3>ESTADO DE LA APLICACIÓN :</h3>
        
            <p>Cantidad de jugadores:<span>{{cantidadJugadores}}</span> </p>
            <p>Cantidad de partidas jugadas: {{cantidadPartidas}}</p>
            <p>Cantidad de preguntas en el juego: {{cantidadPreguntas}}</p>
            <p>Cantidad de usuarios nuevos: {{usuariosNuevos}}</p>
        
    </div>
</div>
</div>